{:aliases {:test {:extra-paths ["test/clj" "test/resources"]}}
 :deps    {aleph/aleph                 {:mvn/version "0.9.0"}
           fi.metosin/muuntaja-charred {:mvn/version "0.6.11"}
           metosin/reitit              {:exclusions [metosin/reitit-sieppari metosin/reitit-dev] :mvn/version "0.9.1"}
           metosin/reitit-ring         {:mvn/version "0.9.1"}
           org.clojure/clojure         {:mvn/version "1.12.0"}
           ring/ring                   {:mvn/version "1.9.4"}}
 :paths   ["src/clj" "src/resources"]}
