{:aliases {:test {:extra-paths ["test/clj" "test/resources"]}}
 :deps    {aleph/aleph                         {:mvn/version "0.9.0"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
           com.taoensso/telemere               {:mvn/version "1.0.0"}
           fi.metosin/muuntaja-charred         {:mvn/version "0.6.11"}
           metosin/malli                       {:mvn/version "0.19.1"}
           metosin/reitit                      {:exclusions  [metosin/reitit-sieppari metosin/reitit-dev]
                                                :mvn/version "0.9.1"}
           metosin/reitit-ring                 {:mvn/version "0.9.1"}
           org.clojure/clojure                 {:mvn/version "1.12.0"}
           ring-logger/ring-logger             {:mvn/version "1.1.1"}
           ring/ring                           {:mvn/version "1.9.4"}}
 :paths   ["src/clj" "src/resources"]}
