{:aliases {:dev {:deps {org.clojure/clojure {:mvn/version "1.12.1"}},
                 :extra-deps {;; bases
                              bamf/rest-api {:local/root "bases/rest-api"},

                              ;; components
                              bamf/api {:local/root "components/api"},
                              bamf/config {:local/root "components/config"},

                              ;; development dependencies
                              djblue/portal {:mvn/version "0.59.1"},
                              com.github.flow-storm/flow-storm-dbg {:mvn/version "4.4.4"},
                              com.github.flow-storm/clojure {:mvn/version "1.12.1"}
                              party.donut/system {:mvn/version "1.0.255"},
                              com.taoensso/telemere {:mvn/version "1.0.0-RC4"}},
                 :extra-paths ["development/src/clj"]},
           :flow-storm {;; for disabling the official compiler
                        :classpath-overrides {org.clojure/clojure nil}
                        :extra-deps {com.github.flow-storm/clojure {:mvn/version "1.12.1"}
                                     com.github.flow-storm/flow-storm-dbg {:mvn/version "4.4.4"}}},
           :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}},
                  :main-opts ["-m" "polylith.clj.core.poly-cli.core"]},
           :test {:deps {org.clojure/clojure {:mvn/version "1.12.1"}},
                  :extra-paths ["bases/rest-api/test/clj"
                                "bases/rest-api/test/resources/rest-api"
                                "components/api/test/clj"
                                "components/api/test/resources/api"
                                "components/config/test/clj"
                                "components/config/test/resources/config"]}},
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}},
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"},
             "clojars" {:url "https://clojars.org/repo"},
             "rpl"     {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}}
