{:kaocha/tests [{:kaocha.testable/id   :bamf
                 :kaocha.testable/type :kaocha.type/clojure.test
                 :kaocha/ns-patterns   ["-test$"]
                 :kaocha/source-paths  []
                 :kaocha/test-paths    ["bases/rest-api/test/clj" "components/config/test/clj"
                                        "components/movies/test/clj" "components/system/test/clj"]}]}
