{:compact-views #{},
 :default-profile-name "default",
 :interface-ns "interface",
 :projects {"development" {:alias "dev"}},
 :tag-patterns {:release "v[0-9]*",
                :stable "stable-*"},
 :top-namespace "bamf",
 :vcs {:auto-add false,
       :name "git"}}
