{:compact-views        #{}
 :default-profile-name "default"
 :interface-ns         "interface"
 :projects             {"radarr" {:alias "rad"}}
 :tag-patterns         {:release "v[0-9]*" :stable "stable-*"}
 :top-namespace        "bamf"
 :vcs                  {:auto-add false :name "git"}}
