{:aliases {:test {:extra-paths ["test/clj" "test/resources"]}},
 :deps {com.taoensso/telemere {:mvn/version "1.0.0-RC1"},
        org.clojure/clojure {:mvn/version "1.12.1"}},
 :paths ["src/clj" "src/resources"]}
