---
name: CI
on:  # yamllint disable-line rule:truthy
  [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      # Checkout
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      # Setup Nix
      - uses: cachix/install-nix-action@9280e7aca88deada44c930f1e2c78e21c3ae3edd
      - name: Run devenv test from the dev environment
        run: nix develop --impure -c devenv test
